@model CountrySource.Web.ViewModels.Cidades.CityCreateViewModel

@{
    ViewBag.Title = "Create";
}

@section scripts{
    <script>
        function createCity(control) {
            postForm(control, function (data) {
                if (data.Success) {
                    alert(data.Message);
                    window.location.href = "@Url.Action("List")";
                }
            });

            return false;
        }
    </script>
    }

<h2>Criar Cidade</h2>

<section>
    @using (Html.BeginForm("Create", "City", FormMethod.Post, new { }))
    {
        @Html.ValidationSummary()

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(a => a.Name)
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(a => a.StateId)
                    @Html.DropDownListFor(a => a.StateId, new SelectList(Model.States, "Id", "Name"), "(Selecione)", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btnp-group">
                <button class="btn btn-primary" onclick="createCity(this);">Salvar</button>
                <button type="reset" class="btn btn-default" onclick="window.location.href='@Url.Action("List")'">Cancelar</button>
            </div>
        </div>
    }

</section>