@model CountrySource.Web.ViewModels.Cidades.CityListViewModel

@{
    ViewBag.Title = "List";
}

@section scripts{

    <script>
        $(function () {
            ajaxForm(null, function (data) {
                var content = $(data).find("#searchList");
                $("#searchList").replaceWith(content);
            }, "frmSearch");
        });

        function deleteCity(button, id) {
            if (window.confirm("Você realmente quer remover essa Cidade?")) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    dataType: 'json',
                    type: 'post',
                    data: { id },
                    success: function (data) {
                        if (data.Success) {
                            alert("Cidade removida com sucesso.");
                            $(button).closest('tr').remove();
                        }
                    },
                    error: function () {
                        alert("Houve um erro ao processar a requisiçao.");
                    },
                    beforeSend: function () { waitButton(button); },
                    complete: function () { readyButton(button); }

                });
            }
        }
    </script>
}

<div id="">
    <h3>Cidades</h3>
    <div class="row">
        <div class="btn-group">
            <a class="btn btn-default top-right" href="@Url.Action("Create")">
                <span>
                    Adicionar
                    <i class="glyphicon glyphicon-plus"></i>
                </span>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="nav nav-justified navbar-nav">
                    @using (Html.BeginForm("List", "Cidade", FormMethod.Post, new { Id = "frmSearch", @class = "navbar-form navbar-search" }))
                    {
                        <div class="input-group">
                            @Html.TextBoxFor(a => a.SearchText, new { @placeholder = "Search...", @class = "form-control" })

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-info">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="label-icon">Buscar</span>
                                </button>
                            </div>
                        </div>
                    }

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <table class="table-hover table table-striped">
            <thead>
                <tr>
                    <th>
                        @Resources.City
                    </th>
                    <th>
                        @Resources.State
                    </th>
                    <th width="20">

                    </th>
                    <th width="20">

                    </th>

                </tr>
            </thead>
            <tbody id="searchList">
                @foreach (var city in Model.Cidades)
                {
                    <tr>
                        <td>
                            @city.Nome
                        </td>
                        <td>
                            @city.EstadoNome
                        </td>
                        <td>
                            <a href="@Url.Action("Detail", new { id = city.Id})">Visualizar</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Update", "City", new { id = city.Id })" class="btn btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-sm" onclick="deleteCity(this, '@city.Id');">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
